<launch>

    <arg name="map_file" default="$(find TurtleBot)/../../beg_map.pgm"/>

    <!-- Launch RRT node -->
    <node name="rrt_node" pkg="TurtleBot" type="rrt.py" output="screen">
        <!-- Add any arguments or parameters required for the RRT node -->
        <param name="plot_traj" type="bool" value="true"/>
        <param name="image_path" type="string" value="$(arg map_file)"/>
    </node>

    <!-- Launch Motion_Planner node -->
    <node name="motion_planner_node" pkg="TurtleBot" type="Motion_Planner.py" output="screen">
        <!-- Add any arguments or parameters required for the Motion_Planner node -->
        <param name="test_prob" type="int" value="2" />
    </node>
</launch>
